<?xml version="1.0"?>
<launch>

	!-- Load the Odisseus URDF model into the parameter server -->
	<param name="robot_description" textfile="$(find odisseus)/urdf/odisseus_four_wheels.urdf" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="ekf_node" pkg="odisseus" type="robot_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>				
</launch>
